
<div class="container mt-5">
    <div class="text-center" style="margin: 30px;">
        <h3>Editar libro</h3>
    </div>

    <!--comunicamos los datos del formulario entre archivos-->
    <form [formGroup]="applyForm" (submit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Titulo</label>
          <input type="text" class="form-control" id="titulo" formControlName="titulo">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Autor</label>
          <input type="text" class="form-control" id="autor" formControlName="autor">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Genero</label>
            <input type="text" class="form-control" id="genero" formControlName="genero">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Fecha de publicación</label>
            <input type="text" class="form-control" id="fecha" formControlName="fechaPublicacion">
          </div>

        <button type="submit" class="btn me-3 mt-4 agregar">Actualizar</button>
        <a type="submit" href="/" class="btn mt-4 volver">Volver</a>
      </form>

</div>
